<!-- <header>
    app Header
    <ul>
        <% if(locals.user){%>
        <li>
            <a href='/user/userprofile'>
            <%=user.name %></li>
        </a>
        <li> 
            <a href='/user/Signout'>Sign out</a>
        </li>
        <%}else{%>
            <li>
                <a href='/user/Signin'>sign in</a>
            </li>
            <li> 
                <a href='/user/Signup'>sign up</a>
            </li>
            <%}%>
    </ul>
</header> -->


<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <a href='/'>
                    MessageBook
                </a>
            </p>
        </div>
    
        <div class="auth-links">
            <ul>
                <% if (locals.user){ %>
                <li>
                    <a href="/user/userprofile"><%= user.name %></a>
                </li>
                <li>
                    <a href="/user/Signout">Sign Out</a>
                </li>
                <% }else{ %>
                <li>
                    <a href="/user/signin">Sign In</a>
                </li>
                <li>
                    <a href="/user/Signup">Sign Up</a>
                </li>
        
                <% } %>
            </ul>
        </div>
    </nav>
 


</header>