
<link rel="stylesheet" href="/css/home.css">
   
    <h1>MessageBook via
        <%=title%>
    </h1>
    
    <section id="feed-posts"> 
        <h4> Posts</h4>
        <form action="/user/create-post" id="new-post-form" method="POST"> 

            <textarea name="content" cols="30" rows="3" placeholder="type ur text here"></textarea>
         <input type="submit" value="Post">
        </form>


    </section>