
<html>
<head>
   
    <title><%=title%></title>
</head>
<body>
    <%-include('_header');%>
    <% for(let i=0;i<5;i++){ %>
     <%=i%>
    <br>
    <%}%>
    <%-include('_footer');%>
    
</body>
</html>