<h1>Sign IN</h1>
<form action="/user/create-session" method="POST">
    <input type="email" name="email" placeholder="email" required>
    <input type="Password" name="password" placeholder="your password" required>
    <button type="submit" value="sign in">Sign In</button>
</form>